* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.box {
  height: auto;
  width: 100%;
  display: flex;
}
.boxChildren {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 50vw;
  padding: 40px;
}
.imgWrapper {
  display: flex;
  justify-content: center;
}
.forestImage {
  width: 50vw;
  height: 100vh;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
}
.text {
  line-height: 8vh;
  display: flex;
  font-size: 8vh;
  margin-bottom: 10px;
}
.line {
  display: flex;
  background-color: black;
  padding: 1px;
  width: 20vh;
  height: 1vh;
  border-radius: 10vh;
}
.icons {
  display: flex;
}
.icon > * {
  fill: black;
}
.icon:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 9999px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .boxChildren {
    width: 100vw;
  }
  .imgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  }
  .forestImage {
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
  .imgFilter {
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
  }
  .icon > * {
    fill: white;
  }
  .text {
    color: white;
  }
  .line {
    background-color: white;
  }
}

@media (max-width: 480px) {
  .icons {
    justify-content: center;
  }
  .icon:not(:last-child) {
    margin-right: 40px;
  }
}

