* {
  padding: 0;
  margin: 0;
  font-family: "nunito", sans-serif;
  box-sizing: border-box;
}

.baseWrapper {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.informationBox {
  width: 50%;
  height: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  line-height: 3.4rem;
  font-size: 3.4rem;
  padding-bottom: 5px;
}
.line {
  width: 8.6rem;
  height: 0.3rem;
  border-radius: 100px;
  background-color: black;
}

.icons{
  display: flex;
  bottom: 0;
  max-height: 3rem;
}
.icon > * {
  width: 3rem;
  height: 3rem;
  padding: 0;
  fill: black;
}
.icon:not(:last-child) {
  padding-right: 18px;
}

.imageBox {
  width: 50%;
  height: 100%;
}
.forestImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 9999px) {
  * {
    font-size: 18px;
  }
  .baseWrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .box {
    max-width: 1400px;
    width: 100vw;
    max-height: 844px;
    height: 100vh;
    display: flex;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {
  * {
    font-size: 16px;
  }
  .text {
    color:  white;
  }
  .line {
    background-color: white;
  }
  .icon > * {
    fill: white;
  }
  .informationBox {
    width: 100vw;
  }
  .imageBox {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .forestImage {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .imgFilter {
    position: absolute;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .icons {
    display: flex;
    justify-content: center;
  }
  .icon:not(:last-child) {
    padding-right: 45px;
  }
}
